*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Merienda', cursive;
}

h1{
    text-align: center;
    margin: 12px 0;
}
.container{
    min-width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-size: 33px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.myInput{
    width: 40%;
    padding: 9px;
    margin: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 12px;
    outline: none;
    cursor: pointer;

}
.btn{
    background-color: #f45959;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 36px;
    margin: 9px 23px;
    cursor: pointer;
    color: white;
} 